<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blood Donation</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header>
      <div class="navbar">
        <div id="nav-logo-box">
          <a href="#"
            ><img
              src="{{ url_for('static', filename='image/logo.jpg') }}"
              class="nav-logo"
              alt=""
          /></a>
        </div>
        <div>
          <ul id="account-list">
            <li><a href="{{ url_for('admin_user') }}" class="active">Home</a></li>
            <li><a href="{{ url_for('admin') }}">Donations</a></li>
            <li><a href="{{ url_for('admin_2') }}">Blood requests</a></li>
            <li><a href="{{ url_for('admin_event') }}">Event</a></li>
            <li><a href="{{ url_for('index') }}">Log out</a></li>
            <a href="#" id="close"><i class="fas fa-times"></i></a>
          </ul>
        </div>
        <div id="mobile">
          <a
            href="#"
            style="text-decoration: none; color: red; font-weight: 600"
            >Home</a
          >
          <i id="bar" class="fas fa-outdent"></i>
        </div>
      </div>
    </header>
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %}
        <div>
          {% for category, message in messages %}
          <div
            class="alert alert-{{ category }} alert-dismissible fade show"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="close"
              data-dismiss="alert"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
        {% endif %} {% endwith %}
      </div>
    
    </div>
    <main class="main">
      
        <div class="blood-container">
            <h1>Blood Bank</h1>
            <p>Check the available blood units for each group:</p>
            <div class="blood-groups">
                {% for unit in units %}
                <!-- Blood Group A+ -->
                <div class="circle" data-progress="{{ unit['A+'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">A+</span>
                  <span class="units">{{ unit['A+'] }} Units</span>
                </div>
                <!-- Blood Group A- -->
                <div class="circle" data-progress="{{ unit['A-'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">A-</span>
                  <span class="units">{{ unit['A-'] }} Units</span>
                </div>
                <!-- Blood Group B+ -->
                <div class="circle" data-progress="{{ unit['B+'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">B+</span>
                  <span class="units">{{ unit['B+'] }} Units</span>
                </div>
                <!-- Blood Group B- -->
                <div class="circle" data-progress="{{ unit['B-'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">B-</span>
                  <span class="units">{{ unit['B-'] }} Units</span>
                </div>
                <!-- Blood Group O+ -->
                <div class="circle" data-progress="{{ unit['O+'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">O+</span>
                  <span class="units">{{ unit['O+'] }} Units</span>
                </div>
                <!-- Blood Group O- -->
                <div class="circle" data-progress="{{ unit['O-'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">O-</span>
                  <span class="units">{{ unit['O-'] }}</span>
                </div>
                <!-- Blood Group AB+ -->
                <div class="circle" data-progress="{{ unit['AB+'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">AB+</span>
                  <span class="units">{{ unit['AB+'] }} Units</span>
                </div>
                <!-- Blood Group AB- -->
                <div class="circle" data-progress="{{ unit['AB-'] }}">
                  <i class="fas fa-tint"></i>
                  <span class="label">AB-</span>
                  <span class="units">{{ unit['AB-'] }} Units</span>
                </div>
                {% endfor %}
            </div>
        </div>

        <form action="/admin_user" method="POST">
            <div class="input_blood">
                <select id="blood-group" name="blood_group" required>
                    <option value="" disabled selected>Select blood group</option>
                    <option value="A+">A+</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B-">B-</option>
                    <option value="O+">O+</option>
                    <option value="O-">O-</option>
                    <option value="AB+">AB+</option>
                    <option value="AB-">AB-</option>
                </select>
                <input type="number" placeholder="Units" name="unit" required />
                <button type="submit" id="add2">Add</button>
            </div>
        </form>
        
    </main>
        
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
    
  </body>
</html>
