<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Event Cards Layout" />
    <title>Blood donation</title>
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <div class="navbar">
        <div id="nav-logo-box">
          <a href="#"><img src="{{ url_for('static', filename='image/logo.jpg') }}" class="nav-logo" alt="" /></a>
        </div>
        <div>
          <ul id="account-list">
            <li><a href="{{ url_for('user') }}">Home</a></li>
            <li><a href="{{ url_for('donate_user') }}">Donate</a></li>
            <li><a href="{{ url_for('Request') }}" >Blood request</a></li>
            <li><a href="{{ url_for('event') }}" class="active">Event</a></li>
            <li><a href="{{ url_for('index') }}">Log out</a></li>
            <a href="#" id="close"><i class="fas fa-times"></i></a>
          </ul>
        </div>
        <div id="mobile">
          <a
            href="{{ url_for('event') }}"
            style="text-decoration: none; color: red; font-weight: 600"
            >Events</a
          >
          <i id="bar" class="fas fa-outdent"></i>
        </div>
      </div>
    </header>

    <div class="events">
      <div class="event-container">
        <!-- Event Card 1 -->
        {% for detail in details %}
        <div class="event-card">
          <div class="event-image"></div>
          <div class="event-details">
            <h1>Blood Donation Event</h1>
            <div class="event-info">
              <p><strong>Name:</strong>{{ detail['name'] }}</p>
              <p><strong>Email:</strong>{{ detail['email'] }}</p>
              <p><strong>Phone:</strong>{{ detail['number'] }}</p>
              <p><strong>Address:</strong>{{ detail['address'] }}</p>
              <p><strong>Event ID:</strong>{{ detail['event_id'] }}</p>
              <p><strong>Start Date:</strong>{{ detail['start_date'] }}</p>
              <p><strong>End Date:</strong>{{ detail['end_date'] }}</p>
              <p><strong>feedback:</strong>{{ detail['description'] }}</p>
              <p data-progress="{{ detail['status'] }}" class="action"><strong>Status:</strong>{{ detail['status'] }}</p>

            </div>
          </div>
        </div>
        {% endfor %}
        <button type="submit" class="btn" id="add3" onclick="window.location.href='{{ url_for('crt_event') }}'">Add event</button>
      </div>
    
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
